.productes{
    position: relative;
    color: black;
}

.sub-productes{
    background-color: rgba(255,255,255,0.95);
/*    padding: 0% 10% 10% 10%;*/
    border-radius: 0px 0px 20px 20px;
    margin-top: -15px;
}

h1{
    padding: 5% 0% 0% 0%;
    border-radius: 0px 0px 20px 20px;
}

.foto{
    height: 20vh;
    margin: 0px;
    background-color: red;
    border-radius: 20px 20px 0px 0px;
}

.icones{
    color: #3b7dff;
    padding: 10% 10% 5% 10%;
}

.icones i{
    font-size: 3em;
}

.descripcio{
    padding: 0% 10% 5% 10%;
    text-align: justify;
}

.producte{
    padding: 5% 10% 5% 10%;
}

.sub-producte{
    
}

.sub-producte p{
    text-align: left;
}

.fotoProducte{
    height: 5vh;
    width: 5vh;
    border-radius: 20px 20px 20px 20px;
}



































