.carta{
    color: #3b7dff;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.sub-carta{
    background-color: white;
    padding: 10%;
}

.btn-iniciar{
    background-color: #00ffaa;
}

.btn-cancelar{
    background-color: #3b7dff;
}