/*
.carta{
    display: table;
    position: relative;
    z-index: 999 !important;
    color: #3b7dff;
    color: red;
    height: 100vh;
    
}

.sub-carta{
    display: table-cell;
	vertical-align: middle;    
}
*/

.carta{
    background-color: red;
    padding: 5% 0;
    position: relative;
    z-index: 999 !important;
/*    color: #3b7dff;*/
    color: red;
    height: 100vh;
    
}

.sub-carta{
    background-color: blue;
    padding: 5% 0;  
}

.ultra-sub-carta{
    background-color: white;
    padding: 50px;
    z-index: 9999999;
}

.btn-iniciar{
    background-color: #00ffaa;
}

.btn-cancelar{
    background-color: #3b7dff;
}